<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">
        
        <div class="layui-form-item">
            <label class="layui-form-label">uid</label>
            <div class="layui-input-block">
                <input type="text" name="uid" class="layui-input" lay-verify="required" placeholder="请输入uid" value="{$row.uid|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">level</label>
            <div class="layui-input-block">
                <input type="text" name="level" class="layui-input" lay-verify="required" placeholder="请输入level" value="{$row.level|default=''}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">日志内容</label>
            <div class="layui-input-block">
                <textarea name="content" class="layui-textarea" lay-verify="required" placeholder="请输入日志内容">{$row.content|raw|default=''}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">create_time_title</label>
            <div class="layui-input-block">
                <input type="text" name="create_time_title" class="layui-input" lay-verify="required" placeholder="请输入create_time_title" value="{$row.create_time_title|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">app_name</label>
            <div class="layui-input-block">
                <input type="text" name="app_name" class="layui-input" lay-verify="required" placeholder="请输入app_name" value="{$row.app_name|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">controller_name</label>
            <div class="layui-input-block">
                <input type="text" name="controller_name" class="layui-input" lay-verify="required" placeholder="请输入controller_name" value="{$row.controller_name|default=''}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">action_name</label>
            <div class="layui-input-block">
                <input type="text" name="action_name" class="layui-input" lay-verify="required" placeholder="请输入action_name" value="{$row.action_name|default=''}">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>