<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./assets/uni.b5e60e45.css">

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>5cq</title>
    <!--preload-links-->
    <!--app-context-->
    <script type="module" crossorigin src="./assets/index-3d7b1ea6.js"></script>
    <link rel="stylesheet" href="./assets/index-da47b6f3.css">
  </head>
  <body>
    <div id="app"><!--app-html--></div>
    
  </body>
</html>
