<div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
        <form id="app-form" class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">等级名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="level_name" required lay-verify="required" placeholder="0000" autocomplete="off" class="layui-input" value="{$list.level_name}">
                </div>
                <div class="layui-form-mid layui-word-aux">等级名称,建议2-4个字</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">等级</label>
                <div class="layui-input-inline">
                    <input type="text" name="level" required lay-verify="required" placeholder="123456789" autocomplete="off" class="layui-input" value="{$list.level}">
                </div>
                <div class="layui-form-mid layui-word-aux">等级，从数字0起，依次增加1</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图标</label>
                <div class="layui-input-block layuimini-upload">
                    <input name="tb" type="hidden" class="layui-input layui-col-xs6" lay-verify="required" lay-reqtext="请上传分类图片" placeholder="请上传分类图片" value="{$list.tb}">
                    <div class="layui-input-inline">
                        <span><a class="layui-btn" data-upload="tb" data-upload-number="one" data-upload-exts="*image" data-upload-icon="image"><i class="fa fa-upload"></i> 上传</a></span>
                    </div>
                </div>
                <div class="layui-form-mid layui-word-aux">图标</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">等级所需时长</label>
                <div class="layui-input-inline">
                    <input type="text" name="level_time" required lay-verify="required" placeholder="123456789" autocomplete="off" class="layui-input" value="{$list.level_time}">
                </div>
                <div class="layui-form-mid layui-word-aux">等级所需时长：单位（小时）</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">每日领取金币上限</label>
                <div class="layui-input-inline">
                    <input type="text" name="coin_up" required lay-verify="required" placeholder="123456789" autocomplete="off" class="layui-input" value="{$list.coin_up}">
                </div>
                <div class="layui-form-mid layui-word-aux">每日领取金币上限，依次递增</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">领取金币比例</label>
                <div class="layui-input-inline">
                    <input type="text" name="coin_scale" required lay-verify="required" placeholder="123456789" autocomplete="off" class="layui-input" value="{$list.coin_scale}">
                </div>
                <div class="layui-form-mid layui-word-aux">领取金币比例：这里为百分比数量，例如：填写150代表1.5倍，100金币的任务可领取150金币</div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>