<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
            data-auth-add="{:auth('business.userlevel/add')}"
            data-auth-edit="{:auth('business.userlevel/edit')}"
            data-auth-delete="{:auth('business.userlevel/delete')}"
            data-auth-batch_pool="{:auth('business.userlevel/batch_pool')}"
            data-auth-monster_pool="{:auth('business.userlevel/monster_pool')}"
            lay-filter="currentTable">
        </table>
    </div>
</div>