<div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
        <form id="app-form" class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">会员账号</label>
                <div class="layui-input-inline">
                    <select name="type" lay-verify="required">
                        <option value="普通会员">普通会员</option>
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">未认证的会员账号不能登录会员中心</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">会员账号</label>
                <div class="layui-input-inline">
                    <input type="text" name="username" readonly required lay-verify="required" placeholder="请输入会员账号" autocomplete="off" class="layui-input" value="{$list.username}">
                </div>
                <div class="layui-form-mid layui-word-aux">会员名称为只读，不可修改</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">登录密码</label>
                <div class="layui-input-inline">
                    <input type="text" name="password" placeholder="请输入登录密码" autocomplete="off" class="layui-input" value="">
                </div>
                <div class="layui-form-mid layui-word-aux">如不修改请留空</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">真实姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="realname" required lay-verify="required" placeholder="请输入真实姓名" autocomplete="off" class="layui-input" value="{$list.realname}">
                </div>
                <div class="layui-form-mid layui-word-aux">会员的真实姓名</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="phone" required lay-verify="required" placeholder="请输入联系电话" autocomplete="off" class="layui-input" value="{$list.phone}">
                </div>
                <div class="layui-form-mid layui-word-aux">会员账号的联系电话</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">QQ号码</label>
                <div class="layui-input-inline">
                    <input type="text" name="QQ" required lay-verify="required" placeholder="请输入QQ号码" autocomplete="off" class="layui-input" value="{$list.QQ}">
                </div>
                <div class="layui-form-mid layui-word-aux">会员账号的QQ号码</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">电子邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" name="email" required lay-verify="required" placeholder="请输入电子邮箱" autocomplete="off" class="layui-input" value="{$list.email}">
                </div>
                <div class="layui-form-mid layui-word-aux">会员的email电子邮箱</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">账户余额</label>
                <div class="layui-input-inline">
                    <input type="text" name="money" required lay-verify="required" placeholder="请输入账户余额" autocomplete="off" class="layui-input" value="{$list.money}">
                </div>
                <div class="layui-form-mid layui-word-aux" style="color: red !important;">会员账号余额,此处修改不计入消费记录，请谨慎修改</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">信用额度</label>
                <div class="layui-input-inline">
                    <input type="text" name="credit" required lay-verify="required" placeholder="请输入信用额度" autocomplete="off" class="layui-input" value="{$list.credit}">
                </div>
                <div class="layui-form-mid layui-word-aux">会员的透支额度，没有额度填写0。</div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>