<div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
        <form id="app-form" class="layui-form layuimini-form">
            <input type="hidden" name="name" value="djjs">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">服务协议</label>
                <div class="layui-input-block ">
                    <textarea name="djjs" rows="20" class="layui-textarea editor" placeholder="请输入等级介绍">{$info.djjs}</textarea>
                </div>
            </div>
            <div class="layui-form-item text-center">
                <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
                <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
            </div>
        </form>
    </div>
</div>