<div class="layuimini-container">
    <div class="layuimini-main" id="app">

        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">服务协议</li>
                <li>隐私政策</li>
<!--                <li>等级介绍</li>-->
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    {include file="business/h5/fwxy" /}
                </div>
                <div class="layui-tab-item">
                    {include file="business/h5/yszc" /}
                </div>
                <div class="layui-tab-item">
                    {include file="business/h5/djjs" /}
                </div>
            </div>
        </div>

    </div>
</div>