<div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
        <form id="app-form" class="layui-form layuimini-form">
            <div class="layui-form-item">
                <label class="layui-form-label">默认验证码</label>
                <div class="layui-input-inline">
                    <input type="text" name="smsCode" required lay-verify="required" placeholder="0000" autocomplete="off" class="layui-input" value="{$list.smsCode}">
                </div>
                <div class="layui-form-mid layui-word-aux">短信验证码默认值，可直接输入该值不用发送验证码，不用填0</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">banner图</label>
                <div class="layui-input-block layuimini-upload">
                    <input name="sbkBanner" type="hidden" class="layui-input layui-col-xs6" lay-verify="required" lay-reqtext="请上传分类图片" placeholder="请上传分类图片" value="{$list.sbkBanner|default=''}">
                    <div class="layui-input-inline">
                        <span><a class="layui-btn" data-upload="sbkBanner" data-upload-number="one" data-upload-exts="*image" data-upload-icon="image"><i class="fa fa-upload"></i> 上传</a></span>
                    </div>
                </div>
                <div class="layui-form-mid layui-word-aux">banner图，建议尺寸为。。。</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">QQ客服</label>
                <div class="layui-input-inline">
                    <input type="text" name="qq" required lay-verify="required" placeholder="123456789" autocomplete="off" class="layui-input" value="{$list.qq}">
                </div>
                <div class="layui-form-mid layui-word-aux">QQ客服的QQ号码</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">微信客服图片</label>
                <div class="layui-input-block layuimini-upload">
                    <input name="wechatQf" type="hidden" class="layui-input layui-col-xs6" lay-verify="required" lay-reqtext="请上传分类图片" placeholder="请上传分类图片" value="{$list.wechatQf|default=''}">
                    <div class="layui-input-inline">
                        <span><a class="layui-btn" data-upload="wechatQf" data-upload-number="one" data-upload-exts="*image" data-upload-icon="image"><i class="fa fa-upload"></i> 上传</a></span>
                    </div>
                </div>
                <div class="layui-form-mid layui-word-aux">微信客服二维码，一般与QQ客服一起展示</div>
            </div>
            <div class="layui-form-item text-center">
                <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
                <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
            </div>
        </form>
    </div>
</div>