<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('game.lists/add')}"
               data-auth-edit="{:auth('game.lists/edit')}"
               data-auth-delete="{:auth('game.lists/delete')}"
               data-auth-modify="{:auth('game.lists/modify')}"
               data-auth-cx="{:auth('game.lists/cx')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>