<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="ulthon_admin - 一款基于ThinkPHP6.0和Layui的快速开发的后台管理框架系统">
    <meta name="author" content="ulthon_admin">
    <meta name="keywords" content="tp6后台,curd后台,layui后台,ulthon_admin,ulthon_admin官网,thinkphp6.0框架,layui前端框架,后台快速开发框架,php框架">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>5CQ</title>
    <link rel="stylesheet" href="//layui.ulthon.com/cdn/layui-ul.css">
    <link rel="stylesheet" href="__STATIC__/common/css/welcome.css?v={$version}">
    <link rel="stylesheet" href="/static/plugs/layui-v2.7.6/css/layui.css">
    <script src="/static/plugs/layui-v2.7.6/layui.js"></script>


</head>

<body>
    <div id='app'>


        <div class="home-main">
            <div class="title">
                <p><i class="name img-name"></i></p>
                <p class="desc">{$data.description|default=''}</p>
                <p class="operation">
                    <a class="start" href="{:__url('admin/Index/index')}"> 进入后台</a>

                </p>
            </div>

        </div>


        </div>
    </div>


    <script>
        $ = layui.$;

        $('.img-preview .header').click(function () {
            layer.photos({
                photos: {
                    "title": "特效皮肤", //相册标题
                    "id": 1, //相册id
                    "start": 0, //初始显示的图片序号，默认0
                    "data": [   //相册包含的图片，数组格式
                        {
                            "alt": $(this).closest('.img-preview').find('.title').text(),
                            "pid": 666, //图片id
                            "src": $(this).closest('.img-preview').data('src'), //原图地址
                        }
                    ]
                }
            })
        })
    </script>
</body>

</html>