<div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
        <form id="app-form" class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">收货人姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="consignee_name" required lay-verify="required" placeholder="0000" autocomplete="off" class="layui-input" value="{$list.consignee_name}">
                </div>
                <div class="layui-form-mid layui-word-aux">收货人姓名</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">收货人电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="consignee_phone" required lay-verify="required" placeholder="123456789" autocomplete="off" class="layui-input" value="{$list.consignee_phone}">
                </div>
                <div class="layui-form-mid layui-word-aux">收货人电话</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">收货人地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="consignee_address" required lay-verify="required" placeholder="123456789" autocomplete="off" class="layui-input" value="{$list.consignee_address}">
                </div>
                <div class="layui-form-mid layui-word-aux">收货人地址</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮编</label>
                <div class="layui-input-inline">
                    <input type="text" name="consignee_code" required lay-verify="required" placeholder="123456789" autocomplete="off" class="layui-input" value="{$list.consignee_code}">
                </div>
                <div class="layui-form-mid layui-word-aux">邮编</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">快递单号</label>
                <div class="layui-input-inline">
                    <input type="text" name="courier_number" placeholder="123456789" autocomplete="off" class="layui-input" value="{$list.courier_number}">
                </div>
                <div class="layui-form-mid layui-word-aux">快递单号</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline">
                    {if $list.order_type==0}
                    <input type="radio" name="order_type" value="0" title="实物" checked>
                    <input type="radio" name="order_type" value="1" title="虚拟">
                    <input type="radio" name="order_type" value="2" title="抽奖">
                    {elseif $list.order_type==1}
                    <input type="radio" name="order_type" value="0" title="实物">
                    <input type="radio" name="order_type" value="1" title="虚拟" checked>
                    <input type="radio" name="order_type" value="2" title="抽奖">
                    {elseif $list.order_type==2}
                    <input type="radio" name="order_type" value="0" title="实物">
                    <input type="radio" name="order_type" value="1" title="虚拟">
                    <input type="radio" name="order_type" value="2" title="抽奖" checked>
                    {/if}
                </div>
                <div class="layui-form-mid layui-word-aux">商品类型</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">订单状态</label>
                <div class="layui-input-inline">
                    {if $list.order_statu==0}
                    <input type="radio" name="order_statu" value="0" title="下单" checked>
                    <input type="radio" name="order_statu" value="1" title="发货">
                    <input type="radio" name="order_statu" value="2" title="收货">
                    <input type="radio" name="order_statu" value="3" title="待补充收货信息">
                    {elseif $list.order_statu==1}
                    <input type="radio" name="order_statu" value="0" title="下单">
                    <input type="radio" name="order_statu" value="1" title="发货" checked>
                    <input type="radio" name="order_statu" value="2" title="收货">
                    <input type="radio" name="order_statu" value="3" title="待补充收货信息">
                    {elseif $list.order_statu==2}
                    <input type="radio" name="order_statu" value="0" title="下单">
                    <input type="radio" name="order_statu" value="1" title="发货">
                    <input type="radio" name="order_statu" value="2" title="收货" checked>
                    <input type="radio" name="order_statu" value="3" title="待补充收货信息">
                    {elseif $list.order_statu==3}
                    <input type="radio" name="order_statu" value="0" title="下单">
                    <input type="radio" name="order_statu" value="1" title="发货">
                    <input type="radio" name="order_statu" value="2" title="收货">
                    <input type="radio" name="order_statu" value="3" title="待补充收货信息" checked>
                    {/if}
                </div>
                <div class="layui-form-mid layui-word-aux">是否展示</div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>