<div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
        <form id="app-form" class="layui-form">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">昵称</label>
                <div class="layui-input-block ">
                    <textarea name="name" disabled="disabled" class="layui-textarea">{$list.name}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">头像</label>
                <div class="layui-input-inline">
                    <img src="{$list.avatar2}" style="width: 100%" />
                    <input type="hidden" name="avatar2" value="{$list.avatar2}" style="width: 100%" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">审核状态</label>
                <div class="layui-input-inline">
                    {if condition="$list.is_sh==0"}
                    <input type="radio" name="is_sh" value="0" title="未审核" checked>
                    <input type="radio" name="is_sh" value="1" title="审核通过">
                    <input type="radio" name="is_sh" value="2" title="审核不通过">
                    {elseif condition="$list.is_sh==1"}
                    <input type="radio" name="is_sh" value="0" title="未审核">
                    <input type="radio" name="is_sh" value="1" title="审核通过" checked>
                    <input type="radio" name="is_sh" value="2" title="审核不通过">
                    {else /}
                    <input type="radio" name="is_sh" value="0" title="未审核">
                    <input type="radio" name="is_sh" value="1" title="审核通过">
                    <input type="radio" name="is_sh" value="2" title="审核不通过" checked>
                    {/if}
                </div>
<!--                <div class="layui-form-mid layui-word-aux">活动展示状态</div>-->
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
<!--                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                </div>
            </div>
        </form>
    </div>
</div>