.tag-input-container {

    .layui-input {
        height        : auto;
        min-height    : 30px;
        padding-bottom: 8px;
    }

    .main-input {
        border        : none;
        height        : 22px;
        line-height   : 22px;
        margin-left   : 5px;
        margin-top    : 8px;
        vertical-align: bottom;
    }

    .input-preshow {
        display : inline-block;
        height  : 0px;
        overflow: hidden;
    }

    .layui-form-danger+.layui-input {
        border-color: #ff5722 !important;
    }

    .layui-btn {
        margin-top: 8px;
    }
}